/* ========================
   WOO — PRODUCT GRID
======================== */

.products .product {
    background: white;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #eee;
    transition: box-shadow .25s, transform .25s;
}

.products .product:hover {
    box-shadow: 0 5px 22px rgba(0,0,0,.12);
    transform: translateY(-4px);
}

.woocommerce div.product .product_title {
    font-size: 2rem;
    font-weight: 700;
}
